body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    padding: 10px 20px;
    color: white;
    justify-content: space-between;                                           
}

.nav-logo {
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

.navbar {
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a.active {
    color: burlywood;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.highlights {
    display: flex;
    gap: 20px;
}

.highlight-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    flex: 1;
    text-align: center;
}



section img{
    height: 10%;
    width: 10%;
}

div img {
    height: 40%;
    width: 40%;
}

.contact-form {
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #005477;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.container{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

main .container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 30px;
}